.main-item {
  padding: .5rem;
  position: relative;

  &__delete-button {
    position: absolute;
    top: .65rem;
    right: .65rem ;
    padding : .184rem .375rem;
  }

  &__frame {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 0;
    width: 100%;

    &:hover {
      border: 2px solid lightblue;
      cursor: pointer
    }
  }

  &__icon {
    max-width: 100%;
    height: auto;
  }

  &__name {
    margin: .1rem 0;
    font-size: 10pt;
  }
}