.profile {
  &__button-section {

    .button {

      &:hover {
        img {
          filter: brightness(0) invert(1);
        }
      }

      &__prefix {
        margin-right: 5px;
        transform: rotate(180deg);
        transition: ease transform .5s;

        &--up {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__exit-section {
    border: 1px #dc3545 solid;
    border-radius: 5px;
    background: rgba(220, 53, 69, 0.02);
    margin-top: 1rem;
    padding: 2rem 3rem;
    height: auto;
  }
}


