<meta name="msapplication-TileColor" content="#ffffff"/>
<meta name="msapplication-TileImage" content="/assets/favicon/{{ site.favicon }}-144.png">

<link rel="icon" type="image/x-icon" href="/assets/favicon/{{ site.favicon }}.ico">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/{{ site.favicon }}-152.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon/{{ site.favicon }}-144.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/{{ site.favicon }}-120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/{{ site.favicon }}-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/{{ site.favicon }}-72.png">
<link rel="apple-touch-icon-precomposed" href="/assets/favicon/{{ site.favicon }}-574.png">
<link rel="icon" sizes="32x32" href="/assets/favicon/{{ site.favicon }}-32.png">